/* importing google font and cdns */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.font-open-sans {
    font-family: "Open Sans", Arial, sans-serif;
    font-optical-sizing: auto;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Shared Classes */

.color-primary {
    color: #FD6E0A;
}

.color-bg {
    background-color: #FFF8F3;
}

.color-para {
    color: #757575;
}

.container {
    width: 71%;
    max-width: 1088px;
    margin: 0 auto;
}

.btn {
    padding: 17px 36px;
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 19px;
}

.btn2 {
    padding: 17px 23px;
    border: 0.5px solid #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A;
    background-color: #FFF8F3;
    cursor: pointer;
    font-weight: bold;
    font-size: 19px;
    margin-left: 30px;
}

.section-heading {
    max-width: 817px;
    text-align: center;
    color: #181818;
    margin: 0 auto;

}

.txt-center {
    text-align: center;
}


/* Individual classes */
header {
    background: url("images/developer.png"), url("images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 40px 30px, bottom right;

    background-size: 76px auto, auto;
}

header nav {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h2 {
    font-size: 38px;
    font-weight: 900;
}

.menu {
    display: flex;
    align-items: center;
    gap: 51px;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: #474747;
    font-size: 19px;
}

#banner {
    margin: 30px 40px 0 221px;
    display: flex;
    justify-content: space-between;
}

.banner-content {
    margin-top: 50px;
}

.banner-content h2 {
    color: #474747;
    margin-bottom: 5px;
}

.banner-content h1 {
    color: #181818;
    margin-bottom: 20px;
    font-size: 3.5rem;
}

.banner-content p {
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}

.banner-content p a {
    text-decoration: none;
    cursor: pointer;
    color: #FD6E0A;
}

.banner-content .btn1 {
    padding: 17px 17px;
}


.banner-img img {
    height: 500px;
    margin-right: 6.5rem;
    vertical-align: middle;
}

#about {
    padding-top: 130px;
}

#about .about-container,
#skills .skills-container {
    text-align: center;
    padding: 131px 156px;
    border-radius: 10px;
}

.section-heading h2 {
    font-size: 35px;
}

.section-heading p {
    margin: 30px 0;
    font-size: 18px;
    line-height: 30px;
}

.about-info {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.info-card p {
    font-size: 18px;
    line-height: 30px;
}

.info-card h4 {
    color: #474747;
}

#skills .skills-box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

}

.skills-box .skills-cards {
    max-width: 260px;
    text-align: left;
    padding: 35px;
    box-shadow: 0 6px 50px 0 #00000007;
    border-radius: 5px;
}

.skills-box .skills-cards img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skills-box .skills-cards h3 {
    color: #181818;
    font-size: 18px;
    margin-bottom: 20px;
}

#resume .section-heading {
    padding-bottom: 100px;
}

#resume .resume-container {
    display: flex;
    gap: 25px;
    padding-bottom: 50px;
}

.resume-container .section-title {
    color: #474747;
    font-size: 28px;
}

.resume-container .card-title {
    padding-top: 30px;
    color: #474747;
    font-size: 23px;
    padding-bottom: 8px;
}

.resume-container .card-info {
    color: #757575;
    font-weight: 600;
    font-size: 18px;
}

.resume-container .card-txt {
    color: #757575;
    padding: 20px 0;
    line-height: 28px;
}

footer {
    margin-top: 130px;
}

.footer-container {
    padding: 130px 0 100px;
    display: flex;
    gap: 116px;
}

.footer-container .social {
    max-width: 560px;
}

.footer-container h2 {
    color: #181818;
    font-size: 35px;
}

.footer-container p {
    line-height: 28px;
    padding: 18px 0 28px;
}

.footer-container .social-icons a {
    margin-right: 22px;
}

.footer-container form h2 {
    margin-bottom: 26px;
}

.footer-container form input[type="text"],
input[type="email"],
textarea {
    width: 460px;
    border: none;
    border-radius: 5px;
    padding: 18px 34px;
    margin-bottom: 22px;
    color: #757575;
    line-height: 28px;
}

footer .txt-center {
    margin-bottom: 20px;
}